* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

html{
    --bg-color: #edf2ef;
    --text-color: #00082f;
}

body.dark{
    --bg-color:#00082f;
    --text-color:#ffffff;
}

body{
    background:var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    margin: 60px auto;
    width: 300px;
}

img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: #4263eb solid 4px;
}

h1{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
}

.usarname{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #00082f;
    opacity: 0.8;
    font-size: 18px;
}

ul{
    list-style: none;
    margin: 48px 0;

}


ul li a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4263eb;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius:  6px;

    transition: background 400ms;

}
ul li a:hover{
    background:#364fc7;
}



footer{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;

    transition: 400ms;
}

footer:hover{
    opacity: 1;
}

